{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

{{!-- <div class="hero">
    <div class="hero-inner">
        <div class="hero-copy">
          <h1>Sexy Mom Eliana Lance Sexy Photoshoot</h1>
        </div>
    </div>
</div> --}}

<div class="image-gradient-dynamic">
  <img src="http://urbansharp.com/content/images/2015/09/DSC_4110-1.jpg" alt="Eliana">
  <div class="overlay"></div>
  <div class="copy">
  <a href="http://urbansharp.com/sexy-mom-eliana-lance-sexy-photoshoot/">
    <h1>Sexy Mom Eliana Lance Sexy Photoshoot</h1>
  </a>
    
  </div>
</div>


  <div class="articles">
    <div class="cards">
      {{! The tag below includes the post loop - partials/loop.hbs }}
      {{> "loop"}}
      </div>
    </div> <!-- end of .cards-->
  </div> <!-- end of .articles-->

</main>